<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2004-10-04-debugtrack.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>526276574.35090399</real>
				<key>lastModification</key>
				<real>526287482.50818002</real>
				<key>version</key>
				<dict>
					<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>2004-10-09-wia-learning-notes.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>526276574.35116899</real>
				<key>lastModification</key>
				<real>526287482.50818098</real>
				<key>version</key>
				<dict>
					<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>2015-02-05-MD-practice.md</key>
			<dict>
				<key>lastModification</key>
				<real>526287482.50818002</real>
				<key>version</key>
				<dict>
					<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>2015-02-05-markdown 语法实践.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>526276289.04026598</real>
				<key>lastModification</key>
				<real>526276289.04026598</real>
				<key>version</key>
				<dict>
					<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>2015-02-06-opencv-xcode6.1.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>523512450.360448</real>
				<key>version</key>
				<dict>
					<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2015-02-13-regex.md</key>
			<dict>
				<key>lastModification</key>
				<real>523512450.360448</real>
				<key>version</key>
				<dict>
					<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2015-02-14-UITabbarController.md</key>
			<dict>
				<key>lastModification</key>
				<real>523512450.360448</real>
				<key>version</key>
				<dict>
					<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2015-04-21-Dynamic Prototypes&amp;static cells.md</key>
			<dict>
				<key>lastModification</key>
				<real>523512450.36044699</real>
				<key>version</key>
				<dict>
					<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2017-09-05-UIStoryboardSegue.md</key>
			<dict>
				<key>lastModification</key>
				<real>526273909.81488502</real>
				<key>version</key>
				<dict>
					<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>半自动化编程.md</key>
			<dict>
				<key>lastModification</key>
				<real>524470576.90812999</real>
				<key>version</key>
				<dict>
					<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>疑问记录与解答.md</key>
			<dict>
				<key>lastModification</key>
				<real>526273896.103971</real>
				<key>version</key>
				<dict>
					<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>蓝牙.md</key>
			<dict>
				<key>lastModification</key>
				<real>526287487.08441699</real>
				<key>version</key>
				<dict>
					<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
					<integer>46</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-09-05-UIStoryboardSegue.md</string>
		</array>
		<array>
			<string>2015-02-05-markdown 语法实践.md</string>
		</array>
		<array>
			<string>2015-04-21-Dynamic Prototypes&amp;static cells.md</string>
		</array>
		<array>
			<string>疑问记录与解答.md</string>
		</array>
		<array>
			<string>半自动化编程.md</string>
		</array>
		<array>
			<string>蓝牙.md</string>
		</array>
		<array>
			<string>2015-02-14-UITabbarController.md</string>
		</array>
		<array>
			<string>2015-02-13-regex.md</string>
		</array>
		<array>
			<string>2015-02-06-opencv-xcode6.1.1.md</string>
		</array>
		<array>
			<string>2004-10-04-debugtrack.md</string>
		</array>
		<array>
			<string>2015-02-05-MD-practice.md</string>
		</array>
		<array>
			<string>2004-10-09-wia-learning-notes.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>25368b0a7bb4a4473fb23736480127df24e49b7508c0d119a1f9c32baf5b332d</key>
			<integer>47</integer>
		</dict>
	</dict>
</dict>
</plist>
